.container{
        max-width:1200px;
	 margin: auto;
        background-color:black;
        position:absolute;
	width:1200px;
	height:800px;
        top:40px;
        left:40px;
        right:40px;
        color:white;
        border-radius: 25px;
        border: 2px solid black; 
        box-shadow: 5px 10px 8px 10px #888888;
        background-image: url('logo.png');
        background-size: 200px 200px;
        background-repeat: no-repeat;
        background-position: center;
        animation: mymove 5s infinite;
}
.container .objects h1{
	text-align:center;
}
.container .objects h1 a{
	color:#FFFFFF;
	text-decoration: none;
	<!--font-family:verdana;-->
}

.container  .body {
	background: white;
	font-family:Arial;
}


.container .objects ul{
	margin: 10px;
	padding: 0px;
	list-style: none;
}

.container .objects ul li {
	float:left; 
	width: 120px;
	height: auto;
	min-height:30px;
	background-color:black;
	opacity: 0.8;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	margin-right:2px;
	font-family:Arial;
}

.container .social-links-div  {
        float:bottom; 
	position: absolute;
  	bottom: 0; 
  	right: 0; 
        width: 120px;
        height: auto;
        min-height:30px;
        background-color:black;
        opacity: 0.8;
        line-height: 30px;
        text-align: center;
        font-size: 25px;
        margin-right:10px;
	margin-bottom:5px;
}
.container .social-links-div  ul li{
}


.container .objects  ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
.container .social-links-div  ul {

	list-style-type: none;
}
.container .social-links-div  ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
.container   ul li a:hover{
	background-color:green;

}
.container .objects  ul li ul li{
	font-size: 15px;
	display:none
}
.container   ul li:hover ul li {
	display: block;
}
.cool-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width .5s;
        }
.cool-link:hover::after{
        width:100%;
        transition: width .5s;
        }

